<h2>Here are all current lists:</h2>

<% @lists.each do |list| %>
<h3><%= link_to list.name, list %></h3>
<% end %>

<h2>Want to create a new list?</h2>
<%= render partial: 'form', locals: { :list => @list } %>