<div class="ui relaxed divided items">
	<% @tasks.each do |task| %>
	<div class="item">
		<div class="item"><%= link_to task.name, list_path(task.list_id) %></div>
		<% if task.due_date > DateTime.now %>
	   	    Time remaining: <%= time_remaining(task.due_date) %>
	   	<% else %>
	   	    Time remaining: Expired
	    <% end %><br>
		<p style="color: #FF5964">
			<% task.tags.each do |t| %>
			<%= t.name %>
			<% end %>
		</p>
		<div class="flex-column">
			<%= button_to "Completed?", list_task_path(id: task.id, list_id: task.list.id), class: "btn btn-xs btn-login", method: :delete %><br>
		</div>
		<br>
	</div>
	<% end %>
</div>