@import url('https://fonts.googleapis.com/css?family=Roboto');





// navbar css
body {
    font: Roboto;
    position: relative;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

// login and sign up
section.login-form {
  font: 16px/2em Roboto, san-serif;
  margin: 50px auto;
  max-width: 400px;
}

section div.field {
  padding: 1px;
}
  div.field input,
  div.field button {
    font-size: 18px;
    margin: 5px 0;
  }
  div.field > div {
    text-align: center;
  }

section div.field a {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 50px;
  color: #fff;
}

div.logo {
  padding-top: 3em;
  padding-bottom: -1em;
  display:block;
  margin:auto;
}

img.logo {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 10em;
  height: 10em;
  animation: zoom 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.btn-fb-login {
  color: #FFFFFF;
  background-color: #3b5998;
  border-color: #FFFFFF;
}

.btn-fb-login:hover {
  color: #FFFFFF;
}

.btn-fb-login:hover,
.btn-fb-login:focus,
.btn-fb-login:active,
.btn-fb-login.active,
.open .dropdown-toggle.btn-fb-login {
  color: #FFFFFF;
  background-color: darken(#3b5998, 10%);
  border-color: #FFFFFF;
}


// button styles
.btn-login {
  color: #FFFFFF;
  background-color: #35A7FF;
  border-color: #FFFFFF;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: #FFFFFF;
  background-color: darken(#35A7FF, 10%);
  border-color: #FFFFFF;
}

.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  background-image: none;
}

.btn-login .badge {
  color: #35A7FF;
  background-color: #FFFFFF;
}

.btn-delete {
  background-color: #FFE74C;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.active,
.open .dropdown-toggle.btn-delete {
  color: #FFFFFF;
  background-color: #FF5964;
  border-color: #FFFFFF;
}

.sidebs {
    float:left;
    margin-right: 10px;
}

.db {
    display: inline-block;
    align: center;
    padding: 15px;
}

/*flash*/
.alert-error {
    background-color: #FF5964;
    border-color: #FF5964;
    color: #FFFFFF;
    text-align: left;
 }

.alert-alert {
    background-color: #FF5964;
    border-color: #FF5964;
    color: #FFFFFF;
    text-align: left;
 }

.alert-success {
    background-color: #35A7FF;
    border-color: #35A7FF;
    color: #FFFFFF;
    text-align: left;
 }

.alert-notice {
    background-color: #35A7FF;
    border-color: #35A7FF;
    color: #FFFFFF;
    text-align: left;
 }

 // Text Colors

 #task-color {
    color: #35A7FF;
 }

 #tag-color {
    color: #FF5964;
 }

.field_with_errors input{
    border: 1px solid red !important;
}

.badge {
    text-shadow: none;
    font-size: 12px;
    padding: 1px 15px;
    font-weight: normal;
    line-height: 15px;
    background-color: #FF5964!important;
}

